.background {
    background-color: #f0f3f8;
}
@media (min-width: 992px){
.mobile-posts {
    display: block;
}}
/* .mobile-posts {
    display: none;
} */
.post-sidebar {
    margin-top: 25px;
    padding-bottom: 20px;
}
.post-sidebar .popular-categories ul {
    margin: 0 -20px 25px;
    padding: 0;
    list-style: none;
}
.post-sidebar h6 {
    margin-bottom: 10px;
    color: #949494;
    
    font-size: 13px;
    text-transform: uppercase;
}
.post-sidebar .post-categories {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 5px 9px rgba(0,0,0,.05);
    padding: 15px 20px;
}
.post-sidebar .popular-categories ul li {
    padding: 0 20px;
    border-bottom: 1px solid #efefef;
}
.post-sidebar .popular-categories ul li a {
    font-size: 16px;
    line-height: 2.3;
}
.post-sidebar a {
    color: #1374dd;
}
.cloud-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
}
.post-sidebar .tags {
    margin-top: 17px;
}
.tags-hidden {
    max-height: 240px;
    overflow: hidden;
}
.tags-hidden a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cloud-tags a, .tags-button {
    color: #1374dd;
    font-size: 12px;
}
.cloud-tags a {
    display: inline-block;
    margin: 0 3px 6px;
    padding: 6px 10px;
    border-radius: 100px;
    background-color: #e6ebf3;
    line-height: 1;
}
.posts .sort-info {
    
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
@media (min-width: 992px){
.sort-info h1 {
    margin: 20px;
}}
@media (min-width: 576px){
.sort-info h1 {
    font-size: 24px;
}}
@media (min-width: 375px){
.sort-info h1 {
    font-size: 20px;
}}
.sort-info h1 {
    
    font-weight: 900;
}
@media (min-width: 320px){
.sort-info-blog {
    height: auto;
}}
.sort-info {
    
    display: flex;
    position: relative;
    flex-direction: column;
    
    margin: 10px 0px;
}
@media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
@media (min-width: 768px){
.post {
    width: 256px;
    height: 321px;
    margin-bottom: 30px;
}}
.post {
    position: relative;
    max-width: 100%;
    /* height: 240px; */
    max-height: 100%;
    /* margin-bottom: 10px; */
    border-radius: 3px;
    overflow: hidden;
}
.post img {
    width: 100%;
    height: 100%;
    
    transition: all .2s linear;
}
@media (min-width: 768px){
.post .text-container {
    padding: 25px;
}}
.post .text-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* padding: 10px; */
}
.post .news-label {
    position: relative;
    font-size: 10px;
    z-index: 100;
}
.news-label.orange {
    background-color: #ffa120;
}
@media (min-width: 768px){
.news-label {
    padding: 7px 10px;
    font-size: 12px;
}}
.news-label, .news-label:before {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 100px;
}
.news-label {
    display: inline-block;
    /* position: relative;
    padding: 4px 6px; */
    color: #fff;
    font-family: OpenSans-Bold;
    /* font-size: 10px; */
    text-align: center;
    text-transform: uppercase;
    /* z-index: 99; */
}
.news-label span {
    position: relative;
    z-index: 99;
}
.post a {
    color: #fff;
}
.post .text-container .redirect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.post a {
    color: #fff;
}
@media (min-width: 768px){
.post .short-description {
    font-size: 20px;
}}
.post .short-description {
    position: relative;
    margin-bottom: 0;
    color: #fff;
    /* font-family: OpenSans-Semibold;
    font-size: 14px; */
    z-index: 99;
}