/* .card{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width:200px;
    color: white;
} */
.card-title{
    color: black;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}
.carousal-card{
    margin-top: 100px;


}
img{
    display: block;
    margin: auto;
}
.slick-prev:before, .slick-next:before{
    color: black !important;
}
