.spare-parts-image-container {
    position: relative;
    max-width: 562px;
    margin: 0 auto;
}
@media (min-width: 576px){
.spare-parts-image-container .spare-parts-image {
    width: 120px;
    margin: 10px;
}}
.spare-parts-image-container .spare-parts-image {
    /* display: inline-grid;
    width: 40%;*/
    height: 123px; 
    /* margin: 10px 5%; */
    padding: 10px 5px;
    /* -webkit-transition: all .2s ease-in-out; */
    transition: all .2s ease-in-out;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #161616;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.text-center {
    text-align: center!important;
}
.new-ad-container>label {
    display: block;
    margin-bottom: 5px;
    /* font-family: OpenSans-Bold; */
    font-size: 15px;
    font-weight:bold;
    text-transform: uppercase;
}
